process {
    withName: BGCSMAPPER {
        ext.args = "--validate_json"
    }
    withName: ANTISMASH_JSON2GFF {
        ext.args = "--cds_tag locus_tag"
    }
}

profiles {
    arm {
        process {
            withName: 'BGC_ANNOTATION:GECCO_RUN' {
                container = 'community.wave.seqera.io/library/gecco:0.10.1--35736d55c7f3d788'
                containerOptions = '--platform linux/arm64'
            }
            withName: 'BGC_ANNOTATION:GECCO_CONVERT' {
                container = 'community.wave.seqera.io/library/gecco:0.10.1--35736d55c7f3d788'
                containerOptions = '--platform linux/arm64'
            }
        }
    }
}
