*.log

# python venv
.venv/

# vscode
.vscode/

# python
__pycache__/
*.py[cod]

# singularity images
./singularity/*.simg


# nextflow
.nextflow/

# local database
databases/mobileOG_beatrix1.6.dmnd
