# singularity images
singularity/

# nextflow
.nextflow/
.nextflow*
work/
results/

# python
bin/python_modules/__pycache__/

# nf-test
.nf-test/
.nf-test/*
.nf-test.log

# local database
databases/mobileOG_beatrix1.6.dmnd

__pycache__/
htmlcov/
.coverage
