manifest {
    mainScript = 'momofy.nf'
    nextflowVersion = '>=21.10.0'
}

params {
	// MoMofy params
    	max_cores = Runtime.runtime.availableProcessors()
    	cores = Runtime.runtime.availableProcessors().intdiv(4)
    	memory = '12'

	help = false
	profile = false

	assembly = ''
	outdir = 'MoMofy_results'
	user_genes = false
	palidis = false
	gff_validation = true

	mobileog_db="${projectDir}/databases/mobileOG_beatrix1.6.dmnd"

}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = "${projectDir}/singularity"
}

