manifest {
    mainScript = 'momofy.nf'
    nextflowVersion = '>=21.10.0'
}

params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '12'

    help = false
    profile = false

    // Inputs
    assembly = ''
    outdir = 'MoMofy_results'
    user_genes = false
    palidis = false
    virify = false
    gff_validation = true

    // Databases
    mobileog_db = ''
    amrfinder_plus_db = ''

    // optional profile configurations
    workdir = 'work'
}

profiles {
    //executors
    local {
        executor {
            name = "local"
            cpus = params.max_cores
        } 
        workDir = params.workdir
        includeConfig 'config/local.config'
    }

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queue = 'production'
            clusterOptions = "-W 24:00"
            queueSize = 200
        }
        process {
            cache = "lenient"
        }
        includeConfig 'config/node.config'
    }

    ebi {
        params {
            workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/momofy"
            singularity_cachedir = "${projectDir}/singularity"

            includeConfig 'config/node.config'

            outdir = 'MoMofy_results'
            assembly = ''
            user_genes = false
            palidis = false
            gff_validation = true

            amrfinder_plus_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/amrfinderplus/3.11/2023-02-23.1"
            mobileog_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/diamond_dbs/mobileOG_beatrix1.6.dmnd"
        }
	workDir = params.workdir

        executor {
            name = "lsf"
            queueSize = 200
            clusterOptions = "-W 24:00"
            process {
                cache = "lenient"
            }
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }
}


