manifest {
    mainScript = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version = 'v2.0.2'
}

params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '12'

    help = false
    profile = false

    // Inputs
    assembly = ''
    outdir = 'mobilome_results'
    user_genes = false
    palidis = false
    virify = false
    gff_validation = true

    // Optional steps
    skip_crispr = false
    skip_amr = false

    // Databases
    mobileog_db = ''
    amrfinder_plus_db = ''
    genomad_db = ''
    // -- container default values -- //
    crispr_so = "/opt/CRISPRCasFinder/sel392v2.so"
    crispr_drpt = "/opt/CRISPRCasFinder/supplementary_files/repeatDirection.tsv"

    // ICEfinder .sif path //
    icefinder_sif = ''
}


profiles {
    local {
        executor {
            name = "local"
            cpus = params.max_cores
        } 
        includeConfig 'config/local.config'

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    lsf {
        executor {
            name = "lsf"
        }
        process {
            cache = "lenient"
        }
        includeConfig 'config/node.config'
    }

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }

    ebi {
        includeConfig 'config/codon.config'
    }
}


