nextflow.enable.moduleBinaries = true
process {
    withName: DIAMOND_BLASTP {
        ext.args = [
            "--max-target-seqs", "25",
            "--evalue", "1e-5",
            "--id", "30",
            "--query-cover", "60",
            "--subject-cover", "50",
        ].join(' ')
    }

    withName: PATHOFACT2_TOXINS {
        ext.args = [
            "-k", "5"
        ].join(' ')
    }

}
