/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store CODON DB paths and names
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    amrfinder_plus_db    = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/amrfinderplus/3.11/2023-02-23.1"
    mobileog_db          = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/diamond_dbs/mobileOG_beatrix1.6.dmnd"
    genomad_db           = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/genomad_151/"
    icefinder_sif        =  "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/icefinder-v1.0-local.sif"
}
