/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    withName: AMRFINDER_PLUS {
        memory = { 72.GB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/functional_annotation" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: AMRFINDER_REPORT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/functional_annotation" },
            mode: 'copy',
        ]
    }

    withName: ARAGORN {
        ext.aragorn_args = [
            "-w",
            "-i",
            "-t",
            "-gc1",
        ].join(' ')
    }

    withName: OUTLIER_FINDER {
        memory = { 24.GB * task.attempt }
        ext.outliers_args = "--score-threshold 2.0"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/compositional_outliers_results/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: FASTA_WRITER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: 'copy',
        ]
    }

    withName: GENOMAD {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/genomad_results/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: GFF_MAPPING {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/gff_output_files/" },
            mode: 'copy',
        ]
    }

    withName: GFF_REDUCE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/gff_output_files/" },
            mode: 'copy',
        ]
    }

    withName: INTEGRATOR {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: 'copy',
        ]
    }

    withName: INTEGRONFINDER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/integronfinder_results/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: ISESCAN {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/isescan_results/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: MACSYFINDER {
        ext.macsyfinder_args = [
            "--coverage-profile", "0.3",
            "--replicon-topology", "linear",
            "--db-type", "unordered",
            "--models", "ICEscan", "all",
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/icefinder_results/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: MACSYFINDER_PROCESS {
        ext.macsy_process_args = "--flank-size 5"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/icefinder_results/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: PROKKA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/functional_annotation/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: RENAME {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/preprocessing/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: VIRIFY_QC {
        publishDir = [
            path: { "$params.outdir/${meta.id}/prediction/virify_filter/" },
            mode: 'copy',
            enabled: params.publish_all,
        ]
    }

    withName: VMATCH {
        ext.index_args = [
            "-dna",
            "-pl",
            "-lcp",
            "-suf",
            "-tis",
            "-ois",
            "-bwt",
            "-bck",
            "-sti1",
        ].join(' ')
        ext.vmatch_args = [
            "-l", "15",
            "-showdesc", "0",
        ].join(' ')
    }

}

