/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    errorStrategy = "retry"
    maxRetries    = 1

    withName: AMRFINDER_PLUS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/func_annot" },
            mode: 'copy',
        ]
    }

    withName: AMRFINDER_REPORT {
        publishDir = [
                path: { "${params.outdir}/${meta.id}/func_annot" },
                mode: 'copy',
            ]
    }

    withName: DIAMOND {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/func_annot" },
            mode: 'copy',
        ]
    }

    withName: FASTA_WRITER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: 'copy',
        ]
    }

    withName: GBK_SPLITTER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/icefinder_results/gbk" },
            mode: 'copy',
            pattern: '*.gbk',
        ]
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/icefinder_results/" },
            mode: 'copy',
            pattern: 'input.list',
        ]
    }

    withName: GENOMAD {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/" },
            mode: 'copy',
        ]
    }

    withName: GFF_MAPPING {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/gff_output_files/" },
            mode: 'copy',
        ]
    }

    withName: GFF_REDUCE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/gff_output_files/" },
            mode: 'copy',
        ]
    }

    withName: ICEFINDER {
        cpus   = { 1     }
        memory = { 16.GB }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/icefinder_results/" },
            mode: 'copy',
        ]
    }

    withName: INTEGRATOR {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: 'copy',
        ]
    }

    withName: INTEGRONFINDER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/integron_results" },
            mode: 'copy',
        ]
    }

    withName: ISESCAN {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/prediction/" },
            mode: 'copy',
        ]
    }

    withName: PROKKA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/func_annot/" },
            mode: 'copy',
        ]
    }

    withName: RENAME {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/preprocessing/" },
            mode: 'copy',
        ]
    }

    withName: VIRIFY_QC {
        publishDir = [
            path: { "$params.outdir}/${meta.id}/prediction/" },
            mode: 'copy',
        ]
    }
}
