/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/mobilome-annotation-pipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

profiles {
    test {
        process {
            resourceLimits = [
                cpus: 2,
                memory: 6.GB,
                time: 1.h
            ]
        }
        params {
            input = "${projectDir}/tests/test_samplesheet.csv"
        }

        process {
            errorStrategy = 'terminate'
            maxRetries = 0

            withName: GENOMAD {
                cpus   = { 1     }
                memory = { 16.GB }
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/prediction/genomad_results/" },
                    mode: 'copy',
                ]
            }

            withName: ISESCAN {
                cpus   = { 1     }
                memory = { 16.GB }
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/prediction/isescan_results/" },
                    mode: 'copy',
                ]
            }

            withName: INTEGRONFINDER {
                cpus   = { 1     }
                memory = { 16.GB }
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/prediction/integronfinder_results/" },
                    mode: 'copy',
                ]
            }

            withName: PROKKA {
                cpus   = { 1     }
                memory = { 16.GB }
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/func_annot/" },
                    mode: 'copy',
                ]
            }
        }
    }
}
