/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/mobilome-annotation-pipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

profiles {
    test {
        includeConfig 'conf/codon.config'
        process {
            resourceLimits = [
                cpus: 2,
                memory: 6.GB,
                time: 1.h
            ]
        }
        params {
            input                    = "${projectDir}/tests/test_samplesheet.csv"
        }

        process {
            errorStrategy = 'terminate'
            maxRetries = 0
        }
    }
}


