/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/mobilome-annotation-pipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

profiles {
    test {
        process {
            resourceLimits = [
                cpus: 8,
                memory: 8.GB,
                time: 1.h,
            ]
        }
        params {
            input                        = "${projectDir}/tests/test_samplesheet.csv"

            amrfinder_plus_db            = "${projectDir}/tests/reference_databases/amrfinderplus/2024-07-22.1"
            mobileog_db                  = "${projectDir}/tests/reference_databases/mobileog/mobileOG_beatrix_1.6_tiny.dmnd"
            genomad_db                   = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/genomad/1.9"
            icefinder_hmm_models         = "${projectDir}/tests/reference_databases/icefinder/icehmm/icescan.hmm"
            icefinder_macsyfinder_models = "${projectDir}/tests/reference_databases/icefinder/macsyfinder_tffscan_models"
            icefinder_prokka_uniprot_db  = "${projectDir}/tests/reference_databases/icefinder/prokka_uniprot_sprot/"
        }
    }
}
