process {

    errorStrategy = "retry"
    maxRetries    = 3

    withName: AMRFINDER_PLUS {
        cpus          = 16
        memory        = { 50.GB * task.attempt }
        time          = 24.h
    }

    withName: AMRFINDER_REPORT {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }

    withName: CRISPR_FINDER {
        cpus          = 1 
        memory        = { 8.GB * task.attempt }
        time          = {
            // It roughly seems to take 1 hour every 100MB
            1.h * ( input.fasta.size() / 100.MB )
        }
    }

    withName: CLEANUP {
        cpus          = 1 
        memory        = { 5.GB * task.attempt }
        time          = 1.h
    }

    withName: DIAMOND {
        cpus          = 4
        memory        = { 8.GB * task.attempt }
        time          = 8.h
    }

    withName: FASTA_WRITER {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }

    withName: GBK_SPLITTER {
        cpus          = 1 
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }

    withName: GENOMAD {
        cpus          = 8 
        memory        = { 32.GB * task.attempt }
        time          = 48.h
    }

    withName: GFF_MAPPING {
        cpus          = 1
        memory        = { 8.GB * task.attempt }
        time          = 6.h
    }

    withName: GFF_REDUCE {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }

    withName: GFF_VALIDATOR {
        cpus          = 1 
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }

    withName: ICEFINDER {
        cpus          = 1
        memory        = { 16.GB * task.attempt }
        time          = 48.h
    }

    withName: INTEGRATOR {
        cpus          = 1 
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }

    withName: INTEGRONFINDER {
        cpus          = 8        
        memory        = { 16.GB * task.attempt }
        time          = 48.h
    }

    withName: ISESCAN {
        cpus          = 8
        memory        = { 8.GB * task.attempt }
        time          = 48.h
    }

    withName: PROKKA {
        cpus          = 8
        memory        = { 8.GB * task.attempt }
        time          = 48.h
    }

    withName: RENAME {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }

    withName: VIRIFY_QC {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
    }
}
