process {

    withName: AMRFINDER_PLUS {
        cpus          = 16
        memory        = { 50.GB * task.attempt }
        time          = 24.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: AMRFINDER_REPORT {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: CRISPR_FINDER {
        cpus          = 1 
        memory        = { 8.GB * task.attempt }
        time          = 8.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: DIAMOND {
        cpus          = 4
        memory        = { 8.GB * task.attempt }
        time          = 8.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: FASTA_WRITER {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: GBK_SPLITTER {
        cpus          = 1 
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: GENOMAD {
        cpus          = 8 
        memory        = { 32.GB * task.attempt }
        time          = 48.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: GFF_MAPPING {
        cpus          = 1
        memory        = { 8.GB * task.attempt }
        time          = 6.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: GFF_REDUCE {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: GFF_VALIDATOR {
        cpus          = 1 
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: ICEFINDER {
        cpus          = 1
        memory        = { 16.GB * task.attempt }
        time          = 48.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: INTEGRATOR {
        cpus          = 1 
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: INTEGRONFINDER {
        cpus          = 8        
        memory        = { 16.GB * task.attempt }
        time          = 48.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: ISESCAN {
        cpus          = 8
        memory        = { 8.GB * task.attempt }
        time          = 48.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: PROKKA {
        cpus          = 8
        memory        = { 8.GB * task.attempt }
        time          = 48.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: RENAME {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }

    withName: VIRIFY_QC {
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = 2.h
        errorStrategy = "retry"
        maxRetries    = 3
    }
}
