process {
    errorStrategy = "retry"
    maxRetries = 3
    withName: AMRFINDER_PLUS {
        cpus = 4; memory = { 8.GB * task.attempt }
    }
    withName: DIAMOND {
        cpus = 4; memory = { 8.GB * task.attempt }
    }
    withName: GBK_SPLITTER {
        cpus = 1; memory = { 4.GB * task.attempt }
    }
    withName: GFF_VALIDATOR {
        cpus = 1; memory = { 4.GB * task.attempt }
    }
    withName: ICEFINDER {
        cpus = 1; memory = { 16.GB * task.attempt }
    }
    withName: INTEGRATOR {
        cpus = 1; memory = { 4.GB * task.attempt }
    }
    withName: INTEGRONFINDER {
        cpus = 8; memory = { 8.GB * task.attempt }
    }
    withName: ISESCAN {
        cpus = 8; memory = { 8.GB * task.attempt }
    }
    withName: PROKKA {
        cpus = 8; memory = { 8.GB * task.attempt }
    }
    withName: RENAME {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
}
