params {
  config_profile_description = 'EMBL-EBI'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir   = "${baseDir}/singularity"
}

process{
  executor = 'lsf'
  queue = 'production'
  withLabel:process_long {
    queue = 'long'
  }

}

executor{
  name = 'lsf'
  perJobMemLimit = true
  poolSize = 4
  submitRateLimit = '5 sec'
  queueSize = 200
}

params {
  max_memory = 200.GB
  max_cpus = 64
  max_time = 48.h
}


