params {
    outdir = 'test_results'
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: RGI_MAIN {
        ext.args2 = '--input_type protein'
    }
    withName: DEEPARG_PREDICT {
        ext.args = '--type prot'
    }
    withName: 'WGET_DEEPARG' {
        ext.prefix = 'deeparg'
        ext.suffix = 'zip'
    }
}
